body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ol{
	margin: 0;
    padding: 0;
}

li{
	list-style: none;
}

.post-container{
	padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #428bca;
}

.post-container h4 {
    color: #428bca;
}

.time-stamp{
	font-size: 12px;
    color: #989898;
}