body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ol{
	margin: 0;
    padding: 0;
}

li{
	list-style: none;
}

.content-container{
	padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.content-container.post{
    border-left-color: #428bca;
}

.comment{
    margin: 5px 0;
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 0;
}

.deleted{
    display: none;
}
.content-container h4 {
    color: #428bca;
}

.time-stamp{
	font-size: 12px;
    color: #989898;
}

.user-icon{
    float: left;
    margin-right: 5px;
    color: #989898;
}

.pre-loader{
    position: absolute;
    top: 50%;
    left: 45%;
    color: #337ab7;
    font-size: 30px;
}

.vote-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-body{
    height:auto;
    border-radius: 5px;
    font-size: 16px;
}
.btn-container{
    margin-top: 5px; 
}
.badge-success{
    background-color: #699a69 !important;
}